svg{
  height: 100vh
  
}
body{
  background-color: rgb(93, 137, 87);
}
path{
    stroke: rgb(0, 0, 0);
    fill: transparent;
    transition: 1s;
}
path:hover{
    fill: rgb(37, 86, 30);
    transform: translate(5px,5px);
}
#mainTitle{
    position: absolute;
    top: 15px;
    right: 50px;
    font-size: 20pt;
    color: rgb(190, 190, 190);
}
hr{
    width: 100px;
    margin-left: 0;
    border: none;
    border-bottom: solid 2px rgb(190, 190, 190);
}
/**/
#chartBar2{
  position: absolute;
  right: 200px;
  top:500px;
  width: 1600px;
  height: 500px;
  border: 1px solid #ccc;
  font-size: 30pt;
  /*background-color: #ccc;*/
}
.axis .domain{
  stroke:none;
}
.x line{
  stroke: white;
}
.x axis{
  font-size: 18pt;
}