svg{
  height: 100vh
  
}
body{
  background-color: rgb(93, 137, 87);
}
path{
    stroke: rgb(0, 0, 0);
    fill: transparent;
    transition: 1s;
}
path:hover{
    fill: rgb(37, 86, 30);
    transform: translate(5px,5px);
}
#mainTitle{
    position: absolute;
    top: -15px;
    right: 50px;
    font-size: 22pt;
    color: rgb(169, 169, 169);
}
.xaxis {
  font-size: 8pt;
}
.yaxis {
  font-size: 8pt;
}
#chartBar2{
  position: absolute;
  right: 120px;
  top:240px;
  width: 800px;
  height: 570px;
  border: 1px solid #ccc;
  font-size: 20pt;
  background-color: rgb(167, 167, 167);
}
.axis .domain{
  stroke:none;
}
.x line{
  stroke: white;
}
